---
title: false
styles: true
---

@import "alembic";

.typeset{
h4, .delta {
    @include sassline(delta, $headingtype, 3, 1, all);
}}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

table {
  border-spacing: 30px;
}